*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /* 16px*0,625 =10 px = 1rem */
}
body{
  height: 100vh;
  font: 1.6rem Helvetica, Arial;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-areas: 'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 2rem;
  height: 100%;
  width:max-content;
}
header{
  grid-area: header;
  background-color: #151B54;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header a{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
header a:hover{
  color: #f0899f;
}

.brand a {
  font-size: 3rem;
}

.fa-shopping-cart{
  padding-right: 2rem;
}

footer{
  background-color: #151B54;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: auto;
}
table {
  font-family: arial, sans-serif;
  background-color:rgba(0, 0, 0, 0);
  font-size: 1rem;
  border-collapse: collapse;
  width:fit-content ;
  height: auto;
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-size: 2rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#map {
  height: 80vh;
}